<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASMSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727"/>
    </startup>
    <userSettings>
        <ASMSharp.Properties.Settings>
            <setting name="ColCellCountArray" serializeAs="String">
                <value>9,8,36</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ASMExe" serializeAs="String">
                <value>SICXEASM.exe</value>
            </setting>
            <setting name="SIMExe" serializeAs="String">
                <value>SICSIM.exe</value>
            </setting>
            <setting name="ASMArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="SIMArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ASMInput" serializeAs="String">
                <value />
            </setting>
            <setting name="SIMInput" serializeAs="String">
                <value>s
%brkpts%
r
d r
d 1000-1140</value>
            </setting>
            <setting name="ASMScript" serializeAs="String">
                <value>Rename.bat</value>
            </setting>
            <setting name="SyntaxRegex" serializeAs="String">
                <value>\s(a(d(d[r]?)|nd)|c(lear|o(m(p[r]?)))|d(i(v[r]?))|end|j(eq|gt|lt|sub)?|l(d(a|b|ch|l|s|t|x))|m(u(l[r]?))|or|r(d|mo|sub)|s(h(i(f(t[lr])))|t(a(rt)?|b|ch|l|s|t|x)|u(b[r]?))|t(d|i(x[r]?))|wd)\s</value>
            </setting>
            <setting name="LabelRegex" serializeAs="String">
                <value>(?&lt;=\n)[^\s]+(?=\s)</value>
            </setting>
            <setting name="RegisterRegex" serializeAs="String">
                <value>(?&lt;=[\s,])([axbflsti]|ch|xr)(?=[\s,])</value>
            </setting>
            <setting name="IntegerRegex" serializeAs="String">
                <value>(?&lt;=[\s#])([-0-9]+)(?=[\s,])</value>
            </setting>
            <setting name="DecRegex" serializeAs="String">
                <value>(?&lt;=[\s#])([-0-9]*\.[0-9]+)(?=[\s,])</value>
            </setting>
            <setting name="DataTypeRegex" serializeAs="String">
                <value>\s(word|byte|res[bw])\s</value>
            </setting>
            <setting name="SyntaxColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="LabelColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="RegisterColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="IntegerColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="DecColor" serializeAs="String">
                <value>BlueViolet</value>
            </setting>
            <setting name="DataTypeColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="CodeBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CodeForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ConsoleFontSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ConsoleBackColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ConsoleForeColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="StringColor" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="StringRegex" serializeAs="String">
                <value>(?&lt;=c)(['][^']+['])</value>
            </setting>
            <setting name="HexColor" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="HexRegex" serializeAs="String">
                <value>(?&lt;=x)(['][^']+['])</value>
            </setting>
            <setting name="RecentlyOpened" serializeAs="String">
                <value />
            </setting>
        </ASMSharp.Properties.Settings>
    </userSettings>
</configuration>